<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="oriPath" value="Z:\Ansalgar Doc Empresa\Prevencion de riesgos" />
    <add key="destPath" value="C:\Users\USER-PC\OneDrive\Compartidos Fuera de Ansalgar\Ansalgar-Abus\Doc PRL" />
  </appSettings>
</configuration>